@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --menu-width: 75rem;

  --body-font: "Raleway", sans-serif;
  --body-weight: 300;

  --card-container-width: 21.25rem;
  --card-width: 17.25rem;
  --card-height: 26.125rem;

  --border-radius: 0.313rem;
  --border-radius-lg: 0.625rem;

  --color-accent: #ffd707;

  --color-neutral-light: #7c7b7b;
  --color-neutral-dark: #4a4a4a;

  --color-green: #487063;
  --color-green-dark: #345248;

  --color-success: #005c11;
  --color-fail: #bc0000;

  --color-car: #536e69;
  --bg-gradient-car: linear-gradient(
    140deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(83, 110, 96, 1) 55%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );

  --color-bike: #936262;
  --bg-gradient-bike: linear-gradient(
    140deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(147, 98, 96, 1) 55%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );

  --color-truck: #fdeda0;
  --bg-gradient-truck: linear-gradient(
    140deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(253, 237, 160, 1) 55%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}
@font-face {
  font-family: "Horizon";
  src: url("./horizon.otf") format("opentype");
}

@font-face {
  font-family: "HorizonOutlined";
  src: url("./horizon_outlined.otf") format("opentype");
}

@font-face {
  font-family: "Font2";
  src: url(https://runtime.fivem.net/temp/ChaletLondonNineteenSixty.otf?a);
}

@font-face {
  font-family: "Font2_cond";
  src: url(https://runtime.fivem.net/temp/chaletcomprime-colognesixty-webfont.ttf?a);
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: none;
}

.scst__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scst__gradient--green {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.9) 33%,
    rgba(0, 0, 0, 0.9) 68%,
    rgba(1, 23, 16, 0.9) 100%
  );
}

.scst__gradient--notification {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 33%,
    rgba(0, 0, 0, 0.8) 68%,
    rgba(1, 23, 16, 0.8) 100%
  );
}

.scst__gradient {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.9) 55%,
    rgba(50, 50, 50, 0.9) 100%
  );
}

.scst__container {
  border: 1px solid var(--color-neutral-dark);
  border-radius: var(--border-radius-lg);
  width: var(--menu-width);
  height: auto;
  padding: 2rem 1.75rem;
  padding-bottom: 2.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scst__container--blank {
  background: transparent;
  border: none;
}

.scst__container__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 1.75rem;
}

.scst__page {
  min-height: 48rem;
}

.scst__w-half {
  width: 50%;
}

.scst__w-full {
  width: 100%;
}

.scst__logo {
  width: 9.375rem;
  color: white;
  position: relative;
  opacity: 0.65;
}

.scst__logo img {
  position: absolute;
  width: 100%;
}

.scst__close {
  color: var(--color-neutral-dark);
}

.scst__close svg {
  stroke: currentColor;
  height: 2.25rem;
}

.scst__close:hover {
  color: var(--color-neutral-light);
}

.scst__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scst__flex {
  display: flex;
}

.scst__flex--row {
  flex-direction: row;
}

.scst__flex--col {
  flex-direction: column;
}

.scst__flex--gap-sm {
  gap: 1.5rem;
}

.scst__flex--gap {
  gap: 3rem;
}

.scst__flex--gap-lg {
  gap: 5rem;
}

.scst__between {
  justify-content: space-between;
}

.scst__h-full {
  height: 100%;
}

.scst__text--white {
  color: #fff;
}

.scst__text--accent {
  color: var(--color-accent);
}

.scst__text--uppercase {
  text-transform: uppercase;
}

.scst__text--large {
  font-size: 3.25rem;
}

.scst__text--horizon {
  font-family: "Horizon";
}

.scst__text--font2 {
  font-family: var(--body-font);
}

.scst__text--bold {
  font-weight: 700;
}

.scst__text--letter-lg {
  letter-spacing: 2px;
}

.scst__h1 {
  position: relative;
  font-family: "Horizon";
  font-size: 3.75rem;
  margin: 2rem 0;
  margin-bottom: 3.75rem;
}

.scst__h2 {
  position: relative;
  font-family: "Horizon";
  font-size: 2.5rem;
  margin: 1rem 0;
}

.scst__h3 {
  font-family: "Horizon";
  font-size: 1.5rem;
}

.scst__body {
  font-family: var(--body-font);
  font-weight: var(--body-weight);
  font-size: 1.5rem;
  max-width: 28rem;
  letter-spacing: 1px;
}

.scst__body--large {
  font-family: var(--body-font);
  font-size: 1.75rem;
  max-width: 28rem;
  letter-spacing: 1px;
}

.scst__notification {
  text-align: center;
  font-size: 4rem;
  padding: 2rem 8.75rem;
  border-radius: var(--border-radius-lg);
}

.scst__sub {
  position: absolute;
  right: 25%;
  bottom: -20%;
  font-size: 1rem;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px #000;
}

.scst__text--heading {
  font-size: 2rem;
}

.scst__vehicle-list {
  display: flex;
  flex-direction: row;
}

.scst-dmv__item,
.scst-dmv__question {
  position: relative;
  width: var(--card-container-width);
}

.scst-dmv__item__card,
.scst-dmv__question__card {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 0.875rem 1rem;
  font-family: var(--body-font);
  font-weight: var(--body-weight);
  border: 1px solid var(--color-neutral-dark);
}

.scst-dmv__item:not(.scst-dmv__item--nohover):hover {
  scale: 1.02;
  transition: all;
  transition-duration: 100ms;
}

.scst-dmv__item:not(.scst-dmv__item--nohover)
  .scst-dmv__item__card:hover
  .scst-dmv__item__bgimage {
  transition: all;
  transition-duration: 200ms;
  opacity: 0.35;
}

.scst-dmv__item:not(.scst-dmv__item--nohover)
  .scst-dmv__item__card:hover
  .scst-dmv__item__background {
  transition: all;
  transition-duration: 200ms;
  opacity: 0.35;
}

.scst-dmv__item__bgimage,
.scst-dmv__question__bgimage {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0.55;
}

.scst-dmv__item__image {
  position: absolute;
  height: 18rem;
  width: auto;
  bottom: 12%;
  left: 3rem;
  z-index: 15;
}

.scst-dmv__item__image img,
.scst-dmv__question__image img {
  height: 100%;
}

.scst-dmv__item__background,
.scst-dmv__question__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.55;
  z-index: 10;
}

.scst-dmv__item__background-car {
  background: var(--bg-gradient-car);
}

.scst-dmv__item__background-bike {
  background: var(--bg-gradient-bike);
}
.scst-dmv__item__background-truck {
  background: var(--bg-gradient-truck);
}

.scst-dmv__item__content {
  position: relative;
  z-index: 25;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scst__price {
  letter-spacing: 0.2rem;
}

.scst-dmv__item__dollarsign {
  position: absolute;
  bottom: -7%;
  right: 2%;
  width: 10rem;
  height: 10rem;
  z-index: 16;
  rotate: 20deg;
}

.scst-dmv__item__dollarsign img {
  width: 100%;
  height: 100%;
}

.scst-dmv__item__footer {
  position: relative;
  z-index: 20;
}

.scst-dmv__question__content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scst__vehicle-list {
  margin-left: 5rem;
}

.scst__btn {
  border-radius: 1.5rem;
  padding: 0.875rem 2rem;
  font-family: "Horizon";
  font-weight: 700;
  font-size: 1.375rem;
  text-transform: uppercase;
  width: fit-content;
  text-align: left;
  display: flex;
  letter-spacing: 2px;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.scst__btn--green {
  background-color: var(--color-green);
  color: white;
}

.scst__btn--grey {
  background-color: var(--color-neutral-dark);
  color: var(--color-neutral-light);
}

.scst__btn img {
  fill: currentColor;
  height: 2.188rem;
}

.scst__btn--green:hover {
  background-color: var(--color-green-dark);
}

.scst__list {
  gap: 1rem;
  margin: 1rem 0;
}

.scst__question-list {
  position: relative;
  overflow: hidden;
}

.scst__question--hidden {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(150%);
}

.scst__radio-btn {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.scst__radio {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 1px solid var(--color-neutral-dark);
}

.scst__radio-btn:hover .scst__radio,
.scst__radio-btn--selected .scst__radio {
  border: 1px solid white;
}

.scst__radio-btn:hover .scst__radio:before,
.scst__radio-btn--selected .scst__radio:before {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  content: " ";
  top: 0.35rem;
  left: 0.3rem;
}

.scst__progressbar {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.scst__progressbar__text {
  font-size: 1.2rem;
  letter-spacing: 5px;
}

.scst__progress {
  width: 100%;
  height: 0.5rem;
  position: relative;
  background-color: var(--color-neutral-dark);
  border-radius: var(--border-radius);
}

.scst__progress div {
  position: absolute;
  height: 0.5rem;
  left: 0;
  top: 0;
  background-color: white;
  border-radius: var(--border-radius);
}

.scst-dmv__question__text {
  font-family: var(--body-font);
  font-weight: var(--body-weight);
  font-size: 2.25rem;
  max-width: 32rem;
}

.scst__text-margin-top {
  margin-top: 2rem;
}

.scst-dmv__options__list {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.scst__result__sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 24rem;
}

.scst__result__sidebar__image {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.scst__image-color {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.65;
}

.scst__image-color--failed {
  background-color: var(--color-fail);
}
.scst__image-color--passed {
  background-color: var(--color-success);
}
.scst__result__content {
  margin-left: 16rem;
}

.scst__result__sidebar__content {
  position: absolute;
  font-family: "Horizon";
  font-size: 3.75rem;
  top: 35%;
  left: 3%;
  color: white;
  rotate: -25deg;
  text-align: center;
}

.scst__result__sidebar__content__img {
  position: absolute;
  width: 19rem;
  bottom: -195%;
  left: 25%;
}

.scst__result__content ul {
  margin-left: 0.5rem;
}

.scst-dmv__item--disabled-true {
  opacity: 0.6;
}

.scst-dmv__item__card__disabled {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 60;
}

.scst-dmv__item__card__disabled img {
  height: 100%;
  width: 100%;
}
